h1 {
  font-size: 1rem;
}
.Logo {
  height: 100px;
}
.Header {
  display: grid;
  grid-template-columns: 70vw 30vw;
}
.Header-Links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: center;
}
.search-container {
  height: 20px;
}
.search-box {
  height: 100%;
  margin: auto 5px;
}
.search-btn {
  height: 100%;
  margin: auto 5px;
}
